.data p, .edit, .data h2, #premium p{
	border:10px solid #336699;
	background-color: #59A8A4;
	padding: 10px;
	text-shadow: 3px 3px 3px #335699;
	color: #e3e3e3;
	letter-spacing: 1px;
	font-size: 20px;
}

.data h2{
	font-size:24px;
	font-weight: bold;
	font-variant:small-caps;
}

.data input{
	font-size: 20px;
}

#premium, #coins{
	display:none;
}

span{
	cursor: pointer;
}

.prem:hover {
	transform: scale(1.05, 1.05);
	transition: all .2s ease-in-out;
	filter: brightness(105%);	
	cursor: pointer;
}

form{
	margin-top:20px;
}
