.createGuilds {
	border: 7px solid #336699;
	background-color: #59A8A4;
	padding: 20px;
}

.createGuilds input {
	min-width:200px;
	max-width: 300px;
}

.guild{
		border:7px solid #336699;
		background-color: #59A8A4;
		padding: 20px;
}

.guild h2
{
	margin-top: 0px; 
	padding:10px;
	font-variant: small-caps;
}

.guildData, .guildDescription{
	border:7px solid #336699;
	padding:10px;
}

.guildAvatar img{
	border:7px solid #336699;	
	max-height: 203px;
	max-width: 168px;
}

.guildData{
	font-size: 24px;
}

.createGuild{
	border:7px solid #336699;
	background-color: #59A8A4;
	padding: 20px;
} 

.guild:hover{
	cursor: pointer;
	transform: scale(1.05, 1.05);
	transition: all .2s ease-in-out;
	filter: brightness(115%);	
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 25px;

}